body {
    font-family: sans-serif;
    background-color: rgb(229, 238, 247);
    margin: 0;
    padding: 0;
  }
  
  .header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .header-top {
    height: 25px;
    background-color: blue;
  }
  
  .header-bottom {
    height: 25px;
    background-color: lightblue;
  }
  
  .trending {
    background-color: blue;
    width: 75vw;
    margin: auto;
    padding: 10px;
    margin-top: 100px;
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    grid-gap: 10px;
  }
  
  .trending-item {
    background-color: lightblue;
  }
  
  .content {
    width: 65vw;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
  
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
  }
  
  .posts {
    min-height: 100px;
  }
  
  .sidebar {
  }
  
  .sidebar div {
    margin-bottom: 10px;
    height: 200px;
    background-color: blue;
  }
  
  .post {
    display: grid;
    grid-template-areas:
      "vote content"
      "vote comment";
    grid-template-rows: 1fr 30px;
    grid-template-columns: 30px 1fr;
    margin-bottom: 10px;
    min-height: 300px;
  }
  .post-content {
    background-color: rgb(132, 132, 250);
    grid-area: content;
  }
  .post-votes {
    background-color: lightblue;
    grid-area: vote;
  }
  .post-comments {
    background-color: blue;
    grid-area: comment;
  }
  